body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  height: 100%;
}

#root > div:first-child {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

button {
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1em;
  height: 2em;
  margin: 1em 0 0 0;
  width: 300px;
  background-color: black;
  color: whitesmoke;
}

input {
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  display: block;
  font-size: 1em;
  height: 2em;
  padding: 0 0.5em;
  width: calc(300px - 1em);
}
