<html>
  <head>
    <title>Email login</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body id="root">
    <div>
      <form
        action="{{ apiUrl }}/login?redirect={{ webUrl }}/waiting.html"
        method="post"
      >
        <div>
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email" required />
        </div>
        <div>
          <button>Login</button>
        </div>
      </form>
    </div>
  </body>
</html>
